body {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #3EE77B;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  background-color: #040304;
	width: 90%;
}


h1 {
  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}


p.subheader {
  font-weight: bold;
  color: #593d87;
}


img {
  padding: 3pt;
  float: right;
}


a {
  text-decoration: none;
}


a:link, a:visited {
  color: #8094d6;
}


a:hover, a:active {
  color: #FF9933;
}


/*
This file is licensed under the GPL 3.0 or later.
*/

body {
	font-family: Sans-serif;
}

#body {
	width: 90%;
	font-size: medium;
}
#header {
	width: 90%;
	text-align: center;
	font-size: xx-large;
}
#content {
	width: 78%;
	float: right;
	font-size: medium;
}

#content img {
  max-height: 400px;
  max-width: 98%; 
}

#sidebar {
	width: 18%;
	float: left;
	font-size: small;
}

#footer {
	text-align: center;
	clear: both;
	font-size: smaller;
  font-style: italic;
  line-height: 12pt;
  text-align: center;
  padding-top: 30pt;
}
